<!DOCTYPE html>
<html lang='en' xmlns:th="http://www.thymeleaf.org">
<head>
<title>Insert title here</title>
 <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link th:href="@{/css/w3.css}" rel="stylesheet">
  <link th:href="@{/css/nav.css}" rel="stylesheet">
      <link th:href="@{/css/common_style.css}" rel="stylesheet">
  <script type="text/javascript" th:src="@{/js/fontawesome.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
 <style>
 @media only screen and (max-width: 600px) {
	  /* For tablets: */
	.sidebar {display:block;}
	.myTopnav {display:none;}
  .sidebar a {font-size: 18px;}
  .w3-main { margin-left:0px;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
.sidebar {display:none;}
.myTopnav {display:block;}
 .sidebar a {font-size: 18px;}
  .w3-main {margin-left:200px;}
}
</style>
</head>
<body>
<a href="/elder_web">回首頁</a>
<h2>操作失敗，記錄重覆</h2>
</body>
</html>