<!DOCTYPE html>
<html lang='en' xmlns:th="http://www.thymeleaf.org">
<head>
<title>量溫記錄(沒有院友記錄)</title>
 <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link th:href="@{/css/w3.css}" rel="stylesheet">
  <link th:href="@{/css/nav.css}" rel="stylesheet">
      <link th:href="@{/css/common_style.css}" rel="stylesheet">
  <script type="text/javascript" th:src="@{/js/fontawesome.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
 <style>
 @media only screen and (max-width: 600px) {
	  /* For tablets: */
	.sidebar {display:block;}
	.myTopnav {display:none;}
  .sidebar a {font-size: 18px;}
  .w3-main { margin-left:0px;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
.sidebar {display:none;}
.myTopnav {display:block;}
 .sidebar a {font-size: 18px;}
  .w3-main {margin-left:200px;}
}
</style>
</head>
<body>
<div class="w3-bar w3-button w3-light-blue">
<a class="w3-bar-item w3-btn w3-light-grey" href="/elder_web">院友列表</a>
<a class="w3-bar-item w3-btn w3-light-grey" href="/temp_web">量溫記錄</a>
</div>


<div class="w3-container">
<div class="w3-responsive">
<table class="w3-table-all">
<h2>量溫記錄(沒有院友記錄)</h2>
  <tr>
  <th>量溫裝置_時間</th>
  <th>院友ID</th>
  <th>溫度</th>
  <th>時間</th>
  <th>量溫裝置</th>
  <th></th>
  </tr>
    <tr th:each="tempab : ${tempabs}" th:unless="${tempab.getStatus_delete()== 0}">
      <td th:text="${tempab.getDev_timestamp()}">量溫裝置_時間</td>
      <td th:text="${tempab.getElder_id()}">院友ID</td>
      <td th:text="${tempab.getTemperature()}">溫度</td>
      <td th:text="${tempab.getTimestamp()}">時間</td>
      <td th:text="${tempab.getDevice_id()}">量溫裝置</td>
      <td>
      <a th:href="@{/tempab_web/delete(dev_timestamp=${tempab.dev_timestamp})}">刪除</a>                     
      </td>
    </tr>
</table>
</div>
</div>

</body>
</html>