<!DOCTYPE html>
<html lang='en' xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>更新院友</title>

</head>
<body>
  
    <div align="center">
    
    <form  action="#" th:action="@{/elder_web/update}" th:object="${elder}" method="post">
        <table border="1">  
        <caption><h2>更新院友</h2></caption>      
         <tr>
               <th>ID: </th>
                <td>
                 <input type="text" name="id" th:field="*{id}" size="20" readonly/>
                </td>
                
            </tr>
            <tr>
                <th>姓名: </th>
                <td>
                    <input type="text" th:field="*{name}" name="name" size="20"
                           
                    />
                </td>
            </tr>
            <tr>
                <th>床號: </th>
                <td>
                    <input type="text" th:field="*{bed_no}" name="bed_no" size="20"
                            />
                    
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="Save" />
                </td>
            </tr>
        </table>
        </form>
    </div>   
</body>
</html>